* {
  outline: 0px solid cyan;
}

body {
  font-size: 16px;
  background-color: #ffffff;
  color: #333333;
  font-family: 'Lora';
  line-height: 1.5;
}
.mesh-black {
  background: url(img/mesh-black.png);
  padding: 10px;
}
.mesh-blue {
  background: url(img/mesh-blue.png);
  padding: 10px;
}
.mesh-red {
  background: url(img/mesh-red.png);
  padding: 10px;
}
.mesh-turquoise {
  background: url(img/mesh-turquoise.png);
  padding: 10px;
}
.mesh-green {
  background: url(img/mesh-green.png);
}
.mesh-pink {
  background: url(img/mesh-pink.png);
}
.mesh-orange {
  background: url(img/mesh-orange.png);
}
.mesh-crimson {
  background: url(img/mesh-crimson.png);
}
.mesh-light-steel-blue {
  background: url(img/mesh-light-steel-blue.png);
  padding: 10px;
}

/********* HEADER *********/
header {
  margin-top: 25px;
  margin-bottom: 25px;
}
#header-nav {
  background-color: #ffffff;
  border: none;
}
#logo { /*** CONTENEDOR TITULO DE LA PAGINA ***/
  height: 120px;
  margin-left: 20px;
  padding-top: 15px;
  position: relative;
  z-index: 1000;
}
#logo h1 { /*** TITULO DE LA PAGINA ***/
  font-size: 1.5em;
  color: #4682B4;
  transition: color 200ms linear;
}
#logo h1:hover {
  color: #5F9EA0;
}
#logo h1:active {
  color: #B0C4DE;
}
#logo p {
  font-size: 1.1em;
  margin-bottom: 0px;
}
#logo-img {
  margin-left: 40px;
  box-shadow: 15px 15px lightgrey;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  transition: opacity 300ms linear;
}
#logo-img:hover {
  opacity: 0.7;
}
#collapsable-nav {
  position: relative;
  z-index: 0;
}
#nav-list { /*** LISTA BOTONES ***/
  margin-top: 50px;
  margin-right: 7px;
  border: 1px solid #4d4d4d;
  position: relative;
}
#nav-list li a {
  background: #ffffff;
  padding: 5px 20px;
  z-index: 1;
}
#nav-list li:active a{
  background: url(mesh-black);
}
#nav-list::after {
  content: " ";
  position: absolute;
  width: 624px;
  height: 32px;
  background: url(img/mesh-black.png);
  top: 6px;
  left: 6px;
  z-index: -1;
}
.navbar-header button {
  margin-top: 45px;
  margin-right: 30px;
}

/********* MAIN *********/
main {
  margin: 15px 0px;
}

#jumbo {
  margin-bottom: 20px;
}
#carroza {
  height: 412px;
  margin-bottom: 20px;
  padding: 0px;
}
.box {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 15px;
}

#bg-wrapper {
  background-color: #ffffff;
  padding: 10px;
}
#bg-wrapper a {
  border: none;
  color: inherit;
  text-decoration: underline;
}
#bg-wrapper a:hover {
  text-decoration: none;
}
#bg-wrapper a:visited {
  text-decoration: none;
}
#bg-wrapper section a {
  position: relative;
}

#front { /* THUMBNAIL IMG */
  position: relative;
  z-index: 1;
  transition: opacity 500ms ease-in-out;
}
#back { /* THUMBNAIL IMG */
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  transition: opacity 500ms ease-in-out;
}
#bg-wrapper section a:hover > #front{
    opacity: 0;
}
#bg-wrapper section a:hover > #back {
    opacity: 1;
}

/********* TITULOS COLUMNAS *********/

#bg-wrapper > h3 {
  margin: 5px 0px;
  font-weight: bold;
  font-size: 1.1em;
  padding: 10px 20px;
}
#bg-wrapper section {
  margin-bottom: 15px;
  padding: 5px;
}
#bg-wrapper h4 {
  font-size: 1.05em;
  font-weight: bold;
  padding-left: 20px;
}
#bg-wrapper h5 {
  font-size: 1em;
  padding-left: 20px;
}
#bg-wrapper p {
  font-size: 1em;
  padding-left: 20px;
}

/********* COLUMNAS *********/
#col-2k16 {
  padding: 0px;
  padding-right: 15px;
}
#col-2k15 {
  padding: 0px;
  padding-left: 15px;
}
#aside {
  padding: 0px 15px;
}
#aside #titulos h3 {
  margin: 10px;
  padding-left: 25px;
}
#aside #titulos p {
  margin-bottom: 5px;
}
#aside #titulos h5 {
  margin-bottom: 5px;
}
#titulos #bg-wrapper section {
  margin: 0px 10px;
}
#tuti {
  color: #FF4500;
}
#nahon {
  color: #DC143C;
}
#antolin {
  color: #228B22;
}
#minijor {
  color: #FF69B4;
}
#mauro {
  color: #9370DB;
}
#fradi {
  color: #05BBC9;
}
#luki {
  color: #1E90FF;
}
#upcoming {
  padding: 0px;
}
/******** PLAQUETAS **********/
#plaquetas section {
  margin-top: 15px;
}
#plaquetas h4 {
  margin-top: 5px;
}
#plaquetas img {
  margin-right: 10px;
}
/********* FOOTER *********/
footer {
  background: url(img/mesh-blue.png)
}
#footer-wrapper {
  background-color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
}
#ending {
  margin-left: 15px;
}
#ending span {
  font-size: 0.8em;
  display: none;
}
#ending a {
  color: #333333;
  font-size: 0.9em;
  text-decoration: none;
}
#ending a:visited {
  background-color: white;
}
#ending a:active {
  background-color: white;
}
#ending a:hover {
  text-decoration: underline;
}
#copy {
  font-size: 0.9em;
  padding-right: 35px;
}

/********** ABOUT.HTML **********/
#about {
  letter-spacing: 1px;
  margin-bottom: 20px;
}

#about .indent {
  text-indent: 30px;
}
#about p {
  margin-bottom: 35px;
}
#about h2 {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 35px;
  margin-bottom: 20px;
  text-decoration: underline;
}
#mail a {
  text-indent: none;
  text-decoration: none;
  font-style: italic;
  font-size: 1em;
}

/***** LIBRERIAS ********/

#librerias {
  margin-top: 15px;
}
#librerias h2 {
  font-size: 1.4em;
  margin-top: 35px;
  margin-bottom: 35px;
}
#librerias h3 { /* LOCALIDADES LIBRERIAS */
  font-size: 1.2em;
  margin-top: 35px;
  margin-bottom: 10px;
}
#about ul {
  padding-left: 20px;
  list-style: none;
}
#about ul li {
  padding: 10px 0px;
  margin: 10px 0px;
  font-size: 0.9em;
}
.box.mesh-green {
  margin-bottom: 0px;
  height: 620px;
}
.box.mesh-green #bg-wrapper { /*LIBRERIAS*/
  height: 600px;
}





/* LIBROS */
#libros h4 {
  margin-top: 25px;
}
img.bookcover {
  padding: 10px 15px;
}
p.#bookstyle p {
  font-size: 50px;
}
#bg-colecciones {
  background-color: #ffffff;
  padding: 10px;
}
/*#libros section p > span {
  font-style: italic;
}*/


/********** Large devices only **********/
@media (min-width: 1200px) {
  #logo-img {
    margin-bottom: 10px;
  }
  #logo {
    margin-left: 35px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #nav-list::after {
    width: 495px;
  }
  #carroza {
    height: 337px;
  }
  #plaquetas section a img {
    height: 150px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #logo-img {
    margin-bottom: 20px;
  }
  #nav-list {
    margin-top: 20px;
  }
  #nav-list::after {
    width: 495px;
  }
  #nav-list {
    margin-top: 20px;
    margin-right: 15px;
}
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Collapsed nav menu */
  #nav-list {
    margin: 0px;
    margin-right: 15px;
    width: 240px;
    float: right;
    border: none;
  }
  #collapsable-nav {
    border: none;
  }
  #collapsable-nav a {
    text-align: right;
    border-bottom: 1px dashed #5e5e5e;
  }
  #collapsable-nav li a {
    padding: 10px;
  }
  #collapsable-nav a span {
    margin-left: 10px;
    float: right;
  }
  #nav-list::after {
    content: none;
  }
  /* LOGO BRAND TITLE */
  #logo h1 {
    font-size: 1.8em;
  }
  #logo p {
    font-size: 1.2em;
  }
  /* MAIN */
  #main-col {
    padding: 0px;
  }
  #bg-wrapper {
    font-size: 1.1em;
  }
  #col-2k15 {
    padding: 0px;
  }
  #col-2k16 {
    padding: 0px;
  }
  #aside {
    padding: 0px;
  }
  /* FOOTER */
  #ending {
    margin-left: 0px;
  }
  /* LIBRERIAS.HTML */
  #about ul li {
    letter-spacing: normal;
  }
  .box.mesh-green {
    height: unset;
  }
  .box.mesh-green #bg-wrapper {
    height: unset;
  }
}
