* {
  outline: 0px solid cyan;
}

body {
  font-size: 16px;
  background-color: #ffffff;
  color: #333;
  font-family: 'Lora';
  line-height: 1.5;
}
.mesh-black {
  background: url(img/mesh-black.png);
}
.mesh-grey {
  background: url(img/mesh-grey.png);
}
.mesh-blue {
  background: url(img/mesh-blue.png);
  padding: 10px;
}
.mesh-red {
  background: url(img/mesh-red.png);
  padding: 10px;
}
.mesh-turquoise {
  background: url(img/mesh-turquoise.png);
  padding: 10px;
}
.mesh-green {
  background: url(img/mesh-green.png);
  padding: 10px;
}
.mesh-pink {
  background: url(img/mesh-pink.png);
}
.mesh-orange {
  background: url(img/mesh-orange.png);
}
.mesh-crimson {
  background: url(img/mesh-crimson.png);
}
.mesh-grape {
  background: url(img/mesh-grape.png);
}
.mesh-brown {
  background: url(img/mesh-brown.png);
}
.mesh-navy {
  background: url(img/mesh-navy.png)
}

/********* HEADER *********/
header {
  margin-top: 25px;
  margin-bottom: 25px;
}
#header-nav {
  background-color: #ffffff;
  border: none;
}
#logo { /*** CONTENEDOR TITULO DE LA PAGINA ***/
  height: 120px;
  margin-left: 20px;
  padding-top: 15px;
  position: relative;
  z-index: 1000;
}
#logo h1 { /*** TITULO DE LA PAGINA ***/
  font-size: 1.5em;
  color: #4682B4;
  transition: color 200ms linear;
}
#logo h1:hover {
  color: #5F9EA0;
}
#logo h1:active {
  color: #B0C4DE;
}
#logo a:focus, #logo a:hover {
  text-decoration: none;
}
#logo p {
  font-size: 1.1em;
  margin-bottom: 0px;
}
#logo-img {
  margin-left: 40px;
  box-shadow: 15px 15px lightgrey;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  transition: opacity 300ms linear;
}
#logo-img:hover {
  opacity: 0.7;
}
#collapsable-nav {
  position: relative;
  z-index: 0;
}
#nav-list { /*** LISTA BOTONES ***/
  margin-top: 50px;
  margin-right: 7px;
  border: 1px solid #4d4d4d;
  position: relative;
}
#nav-list li a {
  background: #ffffff;
  padding: 5px 20px;
  z-index: 1;
}
#nav-list li:active a{
  background: ;
}
#nav-list::after {
  content: " ";
  position: absolute;
  width: 624px;
  height: 32px;
  background: url(img/mesh-black.png);
  top: 6px;
  left: 6px;
  z-index: -1;
}
.navbar-header button {
  margin-top: 45px;
  margin-right: 30px;
}

/********* MAIN *********/
main {
  margin: 15px 0px;
}
.thumbnail, .thumbnail:hover, .thumbnail:focus, .thumbnail:active {
  border: none;
}
#jumbo {
  margin-bottom: 20px;
}
#carroza {
  height: 412px;
  margin-bottom: 20px;
  padding: 0px;
}
.box {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 15px;
}

#bg-wrapper {
  background-color: #ffffff;
  padding: 10px;
}
#bg-wrapper a {
  border: none;
  color: inherit;
  text-decoration: underline;
}
#bg-wrapper a:hover {
  text-decoration: none;
}
#bg-wrapper a:visited {
  text-decoration: none;
}
#bg-wrapper section a {
  position: relative;
}

#front { /* THUMBNAIL IMG */
  position: relative;
  z-index: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 1, 1) 100ms;
}
#back { /* THUMBNAIL IMG */
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 1, 1) 100ms;
}
#bg-wrapper section a:hover > #front{
    opacity: 0;
}
#bg-wrapper section a:hover > #back {
    opacity: 1;
}

/********* TITULOS COLUMNAS *********/

#bg-wrapper > h3 {
  margin: 5px 0px;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px 20px;
  padding-left: 35px;
}
#bg-wrapper section {
  margin-bottom: 15px;
  padding: 5px;
}
#bg-wrapper h4 {
  font-size: 18px;
  font-weight: bold;
  padding-left: 25px;
}
#bg-wrapper h5 {
  font-size: 1.05em;
  padding-left: 25px;
}
#bg-wrapper p {
  padding-left: 25px;
}
/********* COLUMNAS *********/
#col-2k16 {
  padding: 0px;
  padding-right: 15px;
}
#col-2k15 {
  padding: 0px;
  padding-left: 15px;
}
#aside {
  padding: 0px 15px;
}
#aside #bg-wrapper {
  padding: 15px;
}
#aside #titulos h3 {
  margin: 0px 10px;
  padding-left: 25px;
}
#aside #titulos h5 {
  padding-left: 20px;
}
#aside #titulos a {
  display: block;
  padding-left: 20px;
  margin-bottom: 5px;
}
#aside #titulos h5 {
  margin-bottom: 5px;
}
#titulos #bg-wrapper section {
  margin: 0px 10px;
}
#tuti {
  color: #FF4500;
}
#nahon {
  color: #DC143C;
}
#antolin {
  color: #228B22;
}
#minijor {
  color: #FF69B4;
}
#mauro {
  color: #9370DB;
}
#fradi {
  color: #05BBC9;
}
#luki {
  color: #1E90FF;
}
#upcoming {
  padding: 0px;
}
/******** PLAQUETAS **********/
#plaquetas section {
  margin-top: 15px;
  margin-left: 5px;
}
#plaquetas h4 {
  margin-top: 5px;
}
#plaquetas img {
  margin-right: 10px;
}
/********* FOOTER *********/
footer {
  background: url(img/mesh-aquamarine.png)
}
footer.panel-footer {
  border: none;
  border-radius: 0px;
}
#footer-wrapper {
  background-color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
}
#ending {
  margin-left: 15px;
}
#ending span {
  display: none;
}
#ending p {
  font-size: 0.9em;
}
#ending a {
  color: #333333;
  font-size: 0.9em;
  text-decoration: none;
}
#ending a:focus, #ending a:hover {
  background-color: white;
}
#ending a:hover {
  text-decoration: underline;
}
#copy {
  font-size: 0.9em;
  padding-right: 35px;
}

/********** ABOUT.HTML **********/
#about {
  letter-spacing: 1px;
  margin-bottom: 20px;
}
#about .indent {
  text-indent: 30px;
}
#about p {
  margin-bottom: 35px;
}
#about h2 {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 35px;
  margin-bottom: 20px;
  text-decoration: underline;
}
#mail a {
  text-indent: none;
  text-decoration: none;
  font-style: italic;
  font-size: 1em;
}

/***** LIBRERIAS ********/

#librerias {
  margin-top: 15px;
}
#librerias h2 {
  font-size: 1.4em;
  margin-top: 25px;
  margin-bottom: 35px;
}
#librerias h3 { /* LOCALIDADES LIBRERIAS */
  margin-top: 25px;
  margin-bottom: 10px;
}
#about ul {
  padding-left: 30px;
  list-style: none;
}
#about ul li {
  padding: 10px 0px;
  margin: 10px 0px;
  font-size: 0.9em;
}
#librerias a {
  text-decoration: none;
}
#librerias a:hover {
  text-decoration: underline;
}
.box .mesh-grape {
  margin-bottom: 0px;
  height: 600px;
}
.box.mesh-grape #bg-wrapper { /*LIBRERIAS*/
  height: 580px;
}
.box.mesh-brown { /* FRADI */
  height: 1120px;
}
.box.mesh-brown #bg-wrapper { /*FRADI*/
  height: 1100px;
}

/* LIBROS */
#libros h4 {
  margin-top: 25px;
}
img.bookcover {
  padding: 10px 15px;
  margin-left: auto;
  margin-right: auto;
}
#libros #bg-wrapper {
  padding: 10px 20px;
}
#libros #bg-wrapper p {
  padding: 10px 20px;
}
#libros #bg-wrapper h4:first-of-type {
  padding-left: 0px;
  text-align: center;
  font-size: 1.2em;
}
#libros #bg-wrapper h5 {
  padding-left: 0px;
  text-align: center;
}
#libros #bg-wrapper p:first-of-type {
  text-align: center;
}
.bg-colecciones {
  padding: 10px 40px;
}
.bg-colecciones section {
  padding: 10px;
}
.bg-colecciones h3 {
  text-align: right;
  margin: 0;
  font-weight: bold;
  padding: 10px 15px;
}
.bg-colecciones h4 {
  margin-top: 25px;
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 25px;
}
.bg-colecciones h5 {
  font-size: 1em;
  font-weight: bold;
  padding-left: 25px;
}
.bg-colecciones p {
  font-size: 1em;
  padding-left: 25px;
}
.bg-colecciones .box {
  margin-top: 100px;
}
.bg-colecciones .colecciones-cuad {
  margin-top: 20px;
}
.bg-colecciones .colecciones-tool {
  margin-top: 30px;
}
.bg-colecciones .colecciones-plaq {
  margin-top: 20px;
  text-align: center;
  padding: 0;
}
.bg-colecciones .colecciones-plaq h5, .bg-colecciones .colecciones-plaq h4, .bg-colecciones .colecciones-plaq p {
  padding-left: 0px;
}
.bg-colecciones .box:last-child h3 {
  text-align: left;
  padding-left: 15px !important;
}

/*#libros section p > span {
  font-style: italic;
}*/


/********** Large devices only **********/
@media (min-width: 1200px) {
  #logo-img {
    margin-bottom: 10px;
  }
  #logo {
    margin-left: 35px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #header-nav {
    margin-bottom: 40px;
  }
  #nav-list::after {
    width: 495px;
  }
  #carroza {
    height: 337px;
  }
  #workin {
    float: right;
  }
  #col-2k16 h3 {
    padding-left: 35px;
  }
  #col-2k15 h3 {
    padding-left: 35px;
  }
  #col-2k17 h3 {
    padding-left: 18px;
  }
  #aside #bg-wrapper {
    padding: 15px 0px;
  }
  #aside #titulos h3 {
    margin: 0px 10px;
    padding-left: 15px;
  }
  #aside #titulos a {
    display: block;
    padding-left: 10px;
    margin-bottom: 5px;
  }
  #aside #titulos h5 {
    padding-left: 10px;
    margin-bottom: 5px;
  }
  #plaquetas-tit {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .bg-colecciones #bg-wrapper h3 {
    padding-right: 35px;
  }
  /* #plaquetas section a img {
    height: 150px;
    padding-top: 10px;
    padding-bottom: 20px;
  } */

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #logo-img {
    margin-bottom: 20px;
  }
  #nav-list {
    margin-top: -15px;
    margin-right: 15px;
  }
  #nav-list::after {
    width: 495px;
  }
  #col-2k16 {
    text-align: center;
  }
  #col-2k15 {
    text-align: center;
  }
  #col-2k15 h4 {
    padding-left: 0px;
  }
  #col-2k15 h5 {
    padding-left: 0px;
  }
  #col-2k15 p {
    padding-left: 0px;
  }
  #col-2k16 h4 {
    padding-left: 0px;
  }
  #col-2k16 h5 {
    padding-left: 0px;
  }
  #col-2k16 p {
    padding-left: 0px;
  }
  .container #col-2k16 h3 {
    padding-left: 0px;
  }
  .container #col-2k16 h3 {
    padding-left: 0px;
  }
  .bg-colecciones {
    text-align: center;
  }
  .bg-colecciones .box {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .bg-colecciones h3, .bg-colecciones h4,.bg-colecciones h5,.bg-colecciones p {
    padding-left: 0px;
  }
  .bg-colecciones #bg-wrapper h3 {
      text-align: center;
      padding: unset 0px;
    }
  #aside #bg-wrapper {
    padding: 15px 0px;
  }
  #aside #titulos h3 {
    margin: 0px 10px;
    padding-left: 25px;
  }
  #aside #titulos a {
    display: block;
    padding-left: 20px;
    margin-bottom: 5px;
  }
  #aside #titulos h5 {
    padding-left: 20px;
    margin-bottom: 5px;
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Collapsed nav menu */
  #nav-list {
    margin: 0px;
    margin-right: 15px;
    width: 240px;
    float: right;
    border: none;
  }
  #collapsable-nav {
    border: none;
  }
  #collapsable-nav a {
    text-align: right;
    border-bottom: 1px dashed #5e5e5e;
  }
  #collapsable-nav li a {
    padding: 10px;
  }
  #collapsable-nav a span {
    margin-left: 10px;
    float: right;
  }
  #nav-list::after {
    content: none;
  }
  /* LOGO BRAND TITLE */
  #logo h1 {
    font-size: 1.8em;
  }
  #logo p {
    font-size: 1.2em;
  }
  /* MAIN */
  #main-col {
    padding: 0px;
  }
  #bg-wrapper h4:first-of-type {
    padding-left: 0px;
  }
  #libros #bg-wrapper h4:last-of-type {
    padding-left: 20px;
  }
  #bg-wrapper h5 {
    padding-left: 0px;
  }
  #bg-wrapper p {
    padding-left: 0px;
  }
  #col-2k15 {
    text-align: center;
    padding: 0px;
  }
  #col-2k16 {
    text-align: center;
    padding: 0px;
  }
  #aside {
    padding: 0px;
  }
  #aside #titulos h3 {
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #aside #titulos a {
    padding-left: 0px;
    padding-right: 0px;
  }
  #aside #titulos h5 {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* FOOTER */
  #ending {
    margin-left: 0px;
  }
  /* LIBRERIAS.HTML */
  #librerias {
    font-size: 1.1em;
  }
  #about h3 {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  #about ul {
    letter-spacing: normal;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  #about .mesh-grape {
  }
  .box.mesh-grape {
    height: unset;
  }
  .box.mesh-grape #bg-wrapper {
    height: unset;
  }
  .box.mesh-brown {
    height: unset;
  }
  .box.mesh-brown #bg-wrapper {
    height: unset;
  }
  /* COLECCIONES PLAQUETAS */
  .bg-colecciones {
    margin-top: 0px;
    padding: 0px 14px;
    text-align: center;
    font-size: 1em;
  }
  .bg-colecciones .box {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .bg-colecciones h3, .bg-colecciones h4,.bg-colecciones h5,.bg-colecciones p {
    padding-left: 0px;
    text-align: center;
  }
  .bg-colecciones #bg-wrapper h3 {
    text-align: center;
    padding: unset 0px;
  }
  #libros #bg-wrapper {
   padding: 0px 10px;
   padding-bottom: 5px;
  }
  #librerias #libros #bg-wrapper p {
    font-size: 0.9em;
  }
}
